.root
{
    -elegant    : #2E2E2E;
    -dark-gray  : #656D78;
    -light-gray : #E6E9ED;

}

.popover  {
	-fx-background-color: transparent;

	 -fx-border-color : linear-gradient(to top, -mint, -aqua);
        -fx-border-width : 0 0 0 4;
}

.popover > .border {
	-fx-stroke: linear-gradient(to top, -mint, -aqua);
	-fx-stroke-width: 0.8;
	-fx-fill: transparent;
	-fx-effect: null;
	-fx-stroke-type : inside;
}

.popover > .content {
  -fx-border-color : linear-gradient(to top, -mint, -aqua);
  -fx-border-width : 1px;
	-fx-padding: 0;
}

.popover > .detached {
	-fx-background-color: transparent;
}

.popover > .content > .title > .text  {
	-fx-padding: 0 6.0 12.0 6.0;
	-fx-text-fill: rgba(120, 120, 120, .8);
	-fx-font-weight: bold;
}

.popover > .content .scroll-pane .viewport
{
    -fx-background-color : white;
}


.options .button:pressed,
.options .button:focused,
.options .button
{
	-fx-background-color : -base;
	-fx-fill : white;
}

.options .button:hover
{
	-fx-background-color : -base;
}

.options .button .text
{
	-fx-fill : white;
}

.options .button:hover .glyph-icon,
.options .button:pressed .glyph-icon,
.options .button:focused .glyph-icon,
.options .button .glyph-icon
{
	-fx-fill : -icon-color;
}

.root .list-view .list-cell:selected .alert-cell .text,
.root .list-view .list-cell:focused .alert-cell .text,
.root .list-view .list-cell:selected:focused .alert-cell .text
{
	  -fx-text-fill : white;
	  -fx-fill : white;
}