/*
    Created on : 25/10/2018, 08:00:15
    Author     : Gleidson Neves da Silveira
    This is a skeleton for universal css.

    3 Legend 3

    1 This doc is separated in three parts. 1

    First is grouped by a property
    Second is grouped by a type
    Third is grouped by a component.

    3 In construction. 3
*/

/************************************************************************************
*
*               Input Fields
*
*************************************************************************************/


.text-field {
    -fx-skin: "io.github.gleidson28.global.skin.GNTextFieldSkin";
    -fx-text-fill : -text-color;
    -fx-prompt-text-fill : -prompt-fill;
    -gn-float-prompt : false;
    -gn-action-type : none;
    -gn-lead-icon : none;
    -gn-max-length : -1;
    -fx-font-size : 12px;
    -fx-min-height : 40px;
    -fx-alignment : CENTER_LEFT;
    -fx-border-width : 0px;
    -fx-background-color : white;
}

.text-field > .border {
    -fx-fill : transparent;
    -fx-stroke : -light-gray-2;
    -fx-stroke-width : 1px;
}

.text-field:hover > .border {
    -fx-fill : transparent;
    -fx-stroke : -medium-gray-2;
    -fx-stroke-width : 1px;
}

.text-field:focused > .border {
    -fx-fill : transparent;
    -fx-stroke : -primary-color;
    -fx-stroke-width : 2px;
}

.text-field .action-button:hover {
    -fx-background-color : -light-gray;
}

.text-field .action-button:pressed {
    -fx-background-color : -medium-gray;
}

.text-field:focused .lead-button .lead-icon {
    -fx-fill : -primary-color;
}

.text-field .fieldFooter .count {
    -fx-fill : -text-color;
}

.password-field {
    -fx-skin: "io.github.gleidson28.global.skin.GNPasswordFieldSkin";
    -fx-text-fill : -text-color;
}

.combo-box {
    -fx-skin: "io.github.gleidson28.global.skin.GNComboBoxSkin";
}

.text-area {
    -fx-skin: "io.github.gleidson28.global.skin.GNTextAreaSkin";
    -fx-text-fill : -text-color;
    -fx-padding : 10 0 2 4;
    -gn-float-prompt : false;
}

.text-area .scroll-pane .viewport .content {
    -fx-padding : 2px;
}

.text-area .scroll-pane .corner,
.text-area .scroll-pane,
.text-area .scroll-pane .viewport .content,
.text-area .scroll-pane .viewport {
    -fx-border-color : transparent;
    -fx-background-color : transparent;
    -fx-faint-focus-color : transparent;
    -fx-focus-color : transparent;
    -fx-background-radius : 10px;
    -fx-border-radius : 10px;
    -fx-border-width : 0px;
    -fx-effect : null;
}

.text-area > .prompt-text .text,
.text-field > .prompt-text .text {
    -fx-fill : -prompt-fill;
}

.text-area:float:focused > .prompt-text .text,
.text-field:float:focused > .prompt-text .text {
    -fx-fill : -primary-color;
}

.text-field:focused,
.password-field:focused,
.combo-box-primary-color:focused,
.choice-box:focused,
.split-menu-button:focused,
.menu-button:focused,
.text-area:focused,
.spinner:focused
{
    -fx-border-color : -secondary-color;
}

.text-area {
    -fx-wrap-text : true;
}

.text-area > .prompt-text,
.text-field > .prompt-text {
    -fx-background-color : white;
}

.text-field:float > .prompt-text {
    -fx-background-color : white;
}

.text-field, .text-area, .password-field, .choice-box, .split-menu-button,
.spinner
{
    -fx-font-family : Roboto, Regular;
}

.combo-box .list-cell:selected:filled .text,
.menu-button:openvertically .label .text,
.split-menu-button:openvertically .label .text,
.choice-box .label .text
{
    -fx-fill : -text-color;
}

.text-field, .password-field, .combo-box, .choice-box,
.menu-button, .split-menu-button, .split-menu-button .label, .spinner
{
    -fx-pref-height : 40;
    -fx-background-color : transparent;
    -fx-border-color : -border-color;
    -fx-effect : none;

}

.text-area {
     -fx-background-color : transparent;
     -fx-effect : none;
     -fx-border-color : -border-color;
}

.text-area .scroll-pane:fitToWidth:fitToHeight .viewport,
.text-area .scroll-pane:fitToWidth:fitToHeight .viewport .content
{
     -fx-background-color : transparent;
     -fx-effect : none;
}

.text-field, .password-field, .text-area, .combo-box, .choice-box,
.menu-button, .split-menu-button, .split-menu-button .label, .spinner
{
    -fx-background-radius : 5px;
    -fx-border-radius : 5px;
}

.split-menu-button .label,
.spinner .text-field:readonly,
.combo-box:editable .text-field
{
  -fx-background-color : transparent;
  -fx-border-width : 0px;
}

.text-field .text {
    -fx-font-size : 12pt;
}

.text-field:float > .prompt
{
    -fx-background-color : red;
}

.text-field > .prompt  {
    -fx-background-color : transparent;
    -fx-background-radius : 100;
    -fx-text-fill : -text-color;
    -fx-padding : 0px 2px 0px 2px;
    -fx-font-family : Roboto;
    -fx-fill : -text-color;
    -fx-font-family : Roboto;
}

/************************************************************************************
*
*                Arrows
*
*************************************************************************************/

.split-menu-button .arrow-button
{
    -fx-border-width : 0 0 0 1;
    -fx-border-color : -border-color;
}

.combo-box-primary-color > .arrow-button,
.spinner .decrement-arrow-button,
.spinner .increment-arrow-button,
.split-menu-button .arrow-button,
.menu-button .arrow-button,
.choice-box .open-button
{
    -fx-cursor : hand;
    -fx-background-color: transparent, transparent, transparent;
    -fx-padding : 10px;
}

/* ARROW */
.menu-button .arrow-button .arrow,
.choice-box .open-button .arrow,
.split-menu-button .arrow-button .arrow,
.spinner .decrement-arrow-button .decrement-arrow,
.spinner .increment-arrow-button .increment-arrow ,
.combo-box .arrow-button .arrow
{
    -fx-scale-x : 1.5;
    -fx-scale-y : 1.5;
    -fx-shape: "M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z";
    -fx-background-color : -icon-color;
}

.spinner .increment-arrow-button .increment-arrow
{
    -fx-shape : "M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z";
}




/************************************************************************************
*
*                Labeled
*
*************************************************************************************/

.label, .button,
.label .text, .radio-button
{
    -fx-font-family : Roboto, Regular;
    -fx-text-color : -text-color;
    -fx-fill : -text-color;
    -fx-cursor : hand;
}

.toggle-button,
.radio-button,
.check-box,
.button {
    -fx-pref-height : 40px;
}

.button {
    -fx-text-fill : -inner-color;
}

.button, .toggle-button, .check-box .box
{
  -fx-background-color : -primary-color;
}

.button {
    -fx-border-radius : 100px;
}

.button:hover,
.table-row-cell:filled:pressed
{
  -fx-background-color : derive(-primary-color, -40%);
}

.button:focused {
  -fx-border-width : 4px;
  -fx-background-color : derive(-primary-color, -40%), derive(-primary-color, -40%), -primary-color;

}

.toggle-center {
  -fx-background-radius : 0;
  -fx-border-width : 1px 0px 1px 0px;
  -fx-border-radius : 0px;
}

.toggle-left {
   -fx-background-radius : 4px 0px 0px 4px;
   -fx-border-radius : 4px 0px 0px 4px;
   -fx-border-width : 1px 0px 1px 1px;
}

.toggle-right
{
  -fx-background-radius : 0px 4px 4px 0px;
  -fx-border-radius : 0px 4px 4px 0px;
  -fx-border-width : 1px 1px 1px 0px;
}

.toggle-button:selected
{
    -fx-border-width : 0px;
    -fx-border-color : -primary-color;
    -fx-background-color : -primary-color, transparent;
    -fx-effect : innershadow(gaussian, #00000045, 16, 0, 0, 5);
}

.toggle-button {
  -fx-background-insets : 0;
  -fx-scale-x : 1.0;
  -fx-scale-y : 1.0;
}

.toggle-light {
  -fx-background-color : white;
  -fx-text-fill : -gray;
  -fx-border-width : 1px;
}

.toggle-light:pressed,
.toggle-light:selected,
.toggle-light:selected SVGPath
{

    -fx-effect : null;
    -fx-text-fill : white;
    -fx-background-color : -primary-color;
    -fx-fill : WHITE;
}



.toggle-light:hover,
.toggle-light:hover SVGPath
{
  -fx-background-color : -primary-color;
  -fx-text-fill : WHITE;
  -fx-fill : white;
}

.toggle-light:hover:focused,
.toggle-light:hover
{
    -fx-effect : null;
    -fx-text-fill : -text-color;
    -fx-background-color : -light-gray-2;
    -fx-fill : -text-color;
}

.radio-button > .radio  {
   -fx-background-color: transparent;
   -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
   -fx-background-insets: 0;

   -fx-border-radius: 1.0em;
   -fx-border-color: -box-fill;
   -fx-border-width: 2px;

   -fx-padding: 4px; /* 4 -- padding from outside edge to the inner black dot */
}

.radio-button > .radio > .dot {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-padding: 6px; /* 3 -- radius of the inner black dot when selected */
}

.radio-button:selected > .radio,
.radio-button:pressed > .radio
{
  -fx-border-color: -primary-color;
  -fx-border-width: 6px;
}

.radio-button:hover > .radio {
    /* -fx-border-color: -gray; */
      -fx-border-width: 6px;
}

.radio-button:armed  > .radio
{
  -fx-border-color: -primary-color;
}

.radio-button:selected > .radio > .dot,
.radio-button:pressed > .radio > .dot
{
  -fx-padding: 2px;
}

.radio-button:hover > .radio > .dot {
  -fx-padding: 2px;
}

/* .radio-button:pressed > .radio, */
.radio-button:pressed > .radio {
    -fx-border-color: -primary-color;
}

.radio-button:disabled
{
    -fx-opacity: 0.5;
}

.radio-button:disabled > .radio
{
    -fx-background-color: #e6e6e6;
    -fx-border-color: #d9d9d9;
}

.check-box:selected:determinate .box .mark,
.check-box:indeterminate .box .mark
{
    -fx-background-color : white;
}

.check-box {
    -fx-label-padding: 0.0em 0.0em 0.0em 0.416667em; /* 0 0 0 5 */
}

.check-box,
.radio-button
{
  -fx-text-fill : -text-color;
}

.check-box:determinate .box {
    -fx-border-color : -light-gray;
    -fx-border-width : 2px;
}

.check-box:indeterminate .box, .check-box:hover:determinate .box,
.check-box:selected:determinate .box
{
  -fx-border-width : 2px;
  -fx-border-color : -primary-color;
}

.check-box:determinate .box
{
  -fx-border-color : -border-color;
}


.check-box:indeterminate .box,
.check-box:determinate .box
{
 -fx-background-insets : 0px;
    -fx-border-radius : 0px;
}

.check-box:determinate:selected .box {
  -fx-background-color : -primary-color;

}

.check-box:selected:determinate .box .mark
{
  -fx-fill : -primary-color;
  -fx-shape : "M9.005,17.766l13.759,14.739h1.716L49.02,0l10.298,8.488L25.997,50.453h-3.629L0,26.897L9.005,17.766z";
}
/************************************************************************************
*
*                Context Menus
*
*************************************************************************************/

.popup {
    -fx-background-color : transparent;
        -fx-border-radius : 6px;
        -fx-background-radius : 6px;
}

.context-menu {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,.2) , 18, 0 , 0 , 10 );
    -fx-border-color : -focused-border;
    -fx-border-radius : 5px;
    -fx-background-radius : 5px;
    -fx-border-width : 1px;
    -fx-font-family : Roboto;
}

.context-menu .menu .text,
.context-menu .menu-item .text
{
    -fx-font-size : 10pt;
}

.context-menu {
    -fx-background-color: white;

    -fx-border-color: -light-gray-2;
    -fx-border-style: solid;
}

.context-menu .separator {
    -fx-padding: 0.58333275em 1.333332em 0.58333275em 1.333332em;  /*7 16 7 16 */
}

.context-menu .menu-item .icon
{
    -fx-fill : -text-color;
}

.context-menu .menu-item:hover,
.context-menu .menu-item:hover .label {
    -fx-background-color : -primary-color;
}


.context-menu .menu-item:hover .icon ,
.context-menu .menu-item:hover SVGPath
{
    -fx-fill : white;
}

.context-menu .menu-item .label {
    -fx-padding : 5px;
}

.context-menu .menu-item .label .text,
.context-menu .menu-item .icon
{
    -fx-padding : 2px;
}

.context-menu .menu-item .label .text,
.context-menu .menu-item:selected .left-container .radio,
.context-menu .radio-menu-item:hover:checked .left-container .radio
{
    -fx-background-color : white;
    -fx-fill : -text-color;
}

.radio-menu-item:checked > .left-container > .radio {
    -fx-shape: "M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z";
}

.context-menu .menu-item:focused .label .text {
    -fx-fill : -text-color;
}

.context-menu .menu-item:hover:focused .icon,
.context-menu .menu-item:focused .icon,
.context-menu .menu-item:selected .icon,
.context-menu .menu-item:selected .stack-pane,
.context-menu .menu-item:selected StackPane,
.context-menu .menu-item:focused .label .text
{
    -fx-fill : white;
}

.context-menu .menu-item .left-container .radio SVGPath {
    -fx-shape : "M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z";
}

.context-menu .menu-item:hover .label .text {
    -fx-fill : white;
}

.context-menu .menu-item:selected .left-container .radio {
    -fx-fill : white;
}

.context-menu:focused:hover .menu-item:selected .left-container .radio,
.context-menu:hover .menu-item:selected .left-container .radio {
    -fx-fill : white;
}


.context-menu .menu-item:pressed,
.context-menu .menu-item:pressed .label {
    -fx-background-color : -dark-gray;
}

.context-menu .menu-item:focused,
.context-menu .menu-item:focused .label {
        -fx-background-color : -primary-color;
}

/* TODO: try to scope the menu-item style to the contextmenu */
.menu-item {
    -fx-background-color: transparent;
    -fx-padding: 0.666666em 1.333332em 0.666666em 1.333332em;   /*8 16 8 16 */
}

.menu-item .label {
    -fx-padding: 0em 1.333332em 0em 0em;
    -fx-text-fill: -text-color;
    -fx-font-family: Roboto;
    /* -fx-font-size: 10pt; */
}

.menu-item:focused, .menu-item:focused .label {
     -fx-text-fill : white;
}

.menu-item:pressed, .menu-item:pressed .label
{
    -fx-background-color: derive(-primary-color, -20%);
    -fx-text-fill: white;
}

.menu-item:pressed .label
{
    -fx-text-fill: white;
}


.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell
{
    -fx-background-color : -list-fill;
    -fx-padding: 8;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:hover{
    -fx-text-fill: white;
     -fx-background-color: -primary-color;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected{
    -fx-background-color: -light-gray;
    -fx-text-fill: -text-color;
}

.combo-box .list-cell:filled:selected .text
{
  /* -fx-fill : -text-color; */
}

.combo-box .list-view{
  -fx-background-color : white;
  -fx-border-color : -focused-border;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.2) , 18, 0 , 0 , 10 );
    -fx-background-radius : 5px;
    -fx-border-radius : 5px;
}



.combo-box-primary-color,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell
{
  -fx-font-family : Roboto;
  -fx-text-fill : -text-color;
}

.combo-box:disabled {
    -fx-opacity: .4;
}

/*******************************************************************************
*                                                                              *
*       @TabPane
*                                                                              *
*******************************************************************************/


.tab-pane:top .tab-header-area .control-buttons-tab .container .tab-down-button {
    -fx-border-color : -light-gray;
    -fx-border-width : 0px 0px 0px 1px;
    -fx-pref-width : 20px;
    -fx-pref-height : 20px;
    -fx-background-color : transparent;
}

.tab-pane:top .tab-header-area .control-buttons-tab .container .tab-down-button .arrow {
    -fx-scale-x :2px;
    -fx-background-color : -icon-color;
    -fx-shape : "M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z";
}


.tab-pane:top .tab-header-area .tab-header-background
{
  -fx-border-width : 0px 0px 1px 0px;
}

.tab-pane:top .tab-header-area .headers-region .tab:top
{
  -fx-border-width : 0px 0px 2px 0px;
}

.tab-pane:top .tab-header-area .headers-region .tab:selected:top
{
  -fx-border-width : 2px 0px 2px 0px;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label
{
  -fx-text-fill : -text-color;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label
{
  -fx-text-fill : -primary-color;
}

.tab-pane:top .tab-header-area .headers-region .tab:top:selected .tab-container .tab-label .icon
{
    -fx-fill : -primary-color;
}

.tab-pane:top .tab-header-area .headers-region
{
  -fx-cursor : hand;
}

.tab-pane:top .tab-header-area .headers-region .tab:top
{
  -fx-pref-height : 40px;
}

.tab-pane:top .tab-header-area .tab-header-background
{
    -fx-border-color : -separator-color;
}

.tab-pane:top .tab-header-area .headers-region .tab:selected:top
{
  -fx-border-color : transparent transparent -primary-color transparent ;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label
{
    -fx-pref-width : 200px;
}

.tab-pane:top .tab-header-area .headers-region .tab:selected:top
{
  -fx-faint-focus-color : transparent;
   -fx-focus-color : transparent;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label
{
  -fx-font-weight : bold;
  -fx-alignment: CENTER;
}

.tab-pane:top .tab-header-area .headers-region .tab,
.tab-pane:top .tab-header-area .tab-header-background {
    -fx-background-color : transparent;
}